<html>
    <head>
        <title>Blog de Enrique</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog de Enrique</a></h1>
        </div>
        
        <div>
            <p>Publicado: 14.06.2014</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Texto al azar</p>
        </div>
        
        <div>
            <p>Publicado: 14.06.2014</p>
            <h2><a href="">Segundo post</a></h2>
            <p>Texto al azar</p>
        </div>
    </body>
</html>